* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    border-style: solid;
    border-width: 1px;
    border-color: #ececec;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    height: 100px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #222222;
    font-size: 27px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 32px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-decoration: none;
}

.logo img {
    margin-right: 13px;
}


.header-form {
    display: flex;
    position: relative;
}

.button-pink {
    display: block;
    text-decoration: none;
    background-color: #f16d7f;
    height: 38px;
    color: #ffffff;
    font-size: 15px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    padding-left: 19px;
    padding-right: 19px;
    margin-left: 26px;
    border: 1px solid transparent;
}

.button-pink:hover {
    color: #f16d7f;
    background-color: #ffffff;
    border: 1px solid #f16d7f;
}

.header-right {
    display: flex;
    align-items: flex-end;

}

.browse {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    box-sizing: border-box;
    background: -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -moz-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -o-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -ms-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    width: 87px;
    height: 38px;
    position: relative;
}

.browse:hover .drop-dawn-box {
    display: block;
}

.browse span {
    color: #222222;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 38px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    padding-left: 15px;
}



.search {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 317px;
    height: 38px;
    padding-right: 38px;
    padding-left: 10px;
    color: #a4a4a4;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 32px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.search::placeholder {
    opacity: 0.8;
}

.button-form {
    position: absolute;
    right: 0;
    height: 38px;
    width: 38px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #a4a4a4;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 32px;
    /* Приближение из-за подстановки шрифтов */
}

.button-form:hover {
    filter: brightness(0.8);
}

.menu {
    display: flex;
    justify-content: center;
}

.menu > li:hover {
    border-bottom: 2px solid #f16d7f;
}

.mega-link:hover {
    color: #f16d7f;
}

.menu > li:hover .mega-box {
    display: flex;
}

.menu li {
    list-style-type: none;
    border-bottom: 2px solid transparent;
    position: relative;
}

.menu > li > a {
    display: block;
    text-decoration: none;
    padding: 19px;
    color: #222222;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-transform: uppercase;
}

.slider {
    background-color: #e8e8e8;
    height: 614px;
}

.slider-back {
    background: url(img/slider.jpg) -195px -51px;
    height: 100%;
    display: flex;
    align-items: center;
}

.brand-title-1 {
    color: #222222;
    font-size: 59.95px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    text-align: left;
}

.brand-title-2 {
    color: #222222;
    font-size: 39.96px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    text-align: left;
    padding-top: 0;
}

.brand-title-2 span {
    color: #f16d7f;
    font-size: 39.96px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    text-align: left;
    transform: scaleY(1.0009);
    /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}

.brand-name {
    color: #f16d7f;
    font-size: 27px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 32px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-right: 37px;
}


.pink-block {
    background-color: #f16d7f;
    width: 12px;
    height: 102px;
    margin-right: 12px;
    margin-top: 10px;
}

.hot-deal-men {
    display: block;
    position: relative;
    background: url(img/for-men.jpg);
    width: 560px;
    height: 542px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.hot-deal-men:hover {
    filter: opacity(0.9);
}

.accesories {
    display: block;
    position: relative;
    background: url(img/accesories.jpg);
    width: 560px;
    height: 261px;
}

.accesories:hover {
    filter: opacity(0.9);
}

.tizer-block {
    display: flex;
    margin-top: 98px;
}

.offer-women {
    display: block;
    position: relative;
    background: url(img/offer-women.jpg);
    width: 560px;
    height: 261px;
    margin-bottom: 20px;
}

.offer-women:hover {
    filter: opacity(0.9);
}

.new-arrivals-kids {
    display: block;
    position: relative;
    background: url(img/for-kids.jpg);
    width: 560px;
    height: 542px;
}

.new-arrivals-kids:hover {
    filter: opacity(0.9);
}

.ho-deal-title {
    position: absolute;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    top: 26px;
    background-color: #ffffff;
    width: 175px;
    height: 82px;
}

.tizer-title-1 {
    color: #222222;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    text-align: center;
    padding-left: 16px;
    line-height: 18px;
    text-transform: uppercase;
}

.tizer-title-2 {
    color: #f16d7f;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    text-align: center;
    padding-left: 16px;
    text-transform: uppercase;
}

.accesories-title {
    position: absolute;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    top: 26px;
    background-color: #ffffff;
    width: 225px;
    height: 82px;
}

.offer-women-title {
    position: absolute;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    top: 26px;
    background-color: #ffffff;
    width: 162px;
    height: 82px;
}

.new-arrivals-title {
    position: absolute;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    top: 26px;
    background-color: #ffffff;
    width: 180px;
    height: 82px;
}

.fetured-tirle-1 {
    color: #222222;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}

.fetured-tirle-2 {
    color: #9f9f9f;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 28px;
}

.fetured-items-block {
    margin-top: 100px;
    display: flex;
}

.feturedUnit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.itemUnit {
    width: 263px;
    text-decoration: none;
}





.itemUnit:hover img {
    filter: brightness(0.6);
}


.f-item-name {
    color: #222222;
    font-size: 13px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.f-item-price {
    color: #f16d7f;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}


.browse-all-product {
    display: flex;
    justify-content: center;
    margin-top: 19px;
}

.fetured-items-text {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}



.offer-block {
    display: flex;
    background-color: #222224;
    width: 1140px;
    height: 529px;
    margin-top: 113px;
}

.offer-block-left {
    position: relative;
    width: 767px;
}

.offer-title-1 {
    position: absolute;
    top: 126px;
    color: #ffffff;
    font-size: 53.62px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-left: 39px;
}

.offer-title-1 span {
    color: #f16d7f;
    font-size: 53.62px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
}

.offer-title-2 {
    position: absolute;
    bottom: 305px;
    color: #ffffff;
    font-size: 32.17px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-left: 39px;
}

.offer-img {
    background: url(img/offer-block-img.jpg);
    width: 767px;
    height: 529px;
}

.offer-block-right {
    width: 373px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.delivery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fbfbfb;
    font-size: 20px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-right: 21px;
}

.sales-discounts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fbfbfb;
    font-size: 20px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-right: 21px;
}

.quality-assurance {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fbfbfb;
    font-size: 20px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    margin-right: 21px;
}

.offer-title-right-2 {
    color: #fbfbfb;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    padding-left: 120px;
    
}


.footerInside {
    width: 100%;
    margin: 0 auto;
}

.footer-message {
    background: url(img/bcg-message.jpg) no-repeat center rgba(242, 242, 242, 0.5);
    height: 438px;
    margin-top: 97px;
}

.navigation-block {
    height: 458px;
    display: flex;
}

.copyright {
    background-color: #e6e6e6;
    height: 79px;
}



.fa-caret-down {
    margin-left: 8px;
}

.fa-long-arrow-alt-right {
    margin-left: 8px;
}

.cart-w {
    background: url(img/cart_w.svg) no-repeat 12px 10px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-size: 13px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    padding: 12px 12px 12px 40px;
    text-decoration: none;
    margin-bottom: 8px;
}

.cart-w:hover {
    background-color: black;
    filter: invert(100%);

}

.img-form {
    padding-right: 40px;
    padding-left: 33px;
}

.message {
    display: flex;
    margin-top: 111px;
}

.footer-message-left {
    width: 50%;
    height: inherit;
    border-right: 1px solid rgba(34, 34, 36, 0.1);
    display: flex;
    flex-flow: column wrap;

}

.text-message {
    color: rgba(34, 34, 36, 0.67);
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-style: italic;
    line-height: 26px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    padding-left: 28px;
}

.author-message {
    color: #f16d7f;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    padding-left: 110px;
    padding-top: 19px;
}

.author-message span {
    color: #222224;
    font-size: 12px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.grey-button {
    display: block;
    background-color: #d6d6d6;
    width: 38px;
    height: 4px;
    margin-right: 13px;
}

.grey-button:hover {
    background-color: #f16d7f;
}

.pink-button {
    display: block;
    background-color: #f16d7f;
    width: 38px;
    height: 4px;
    margin-right: 13px;
}

.pink-button:hover {
    background-color: #d6d6d6;
}



.slider-message {
    display: flex;
    padding-left: 110px;
    padding-top: 41px;
}

.footer-message-right {
    width: 50%;
    height: inherit;

}

.subscribe {
    color: rgba(34, 34, 36, 0.67);
    font-size: 24px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    margin-left: 217px;
    margin-top: 131px;

}

.subscribe span {
    color: rgba(34, 34, 36, 0.67);
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-left: -72px;
}

.subs-form {
    display: flex;
    position: relative;
    margin-left: 93px;
    margin-top: 26px;
}

.email-subs {
    background-color: #e1e1e1;
    width: 267px;
    height: 46px;
    border: 0;
    border-radius: 50px 0 0 50px;
    padding-left: 15px;
    color: rgba(34, 34, 36, 0.67);
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 54px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.email-subs:hover {
    background-color: #ffffff;
}

.button-subs {
    position: absolute;
    left: 281px;
    background-color: #f16d7f;
    width: 104px;
    height: 46px;
    border: 0;
    border-radius: 0 50px 50px 0;
    color: #ffffff;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
}

.button-subs:hover {
    color: #f16d7f;
    background-color: #ffffff;
    border: 1px solid #f16d7f;
}

.bran-info-1 {
    display: block;
    color: #898989;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-top: 18px;
}

.brand-information {
    width: 427px;
    margin-top: 105px;
}

.bran-info-2 {
    display: block;
    color: #898989;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-top: 24px;
}

.footer-menu-title {
    color: #f16d7f;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 26px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom: 20px;
}

.footer-menu-item {
    color: #898989;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 43px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-decoration: none;
}

.footer-menu-item:hover {
    color: #f16d7f;
}

.footer-menu-company {
    display: flex;
    flex-flow: column wrap;
    margin-left: 65px;
    margin-top: 110px;

}

.footer-menu-information {
    display: flex;
    flex-flow: column wrap;
    margin-left: 133px;
    margin-top: 110px;
}

.footer-menu-shop {
    display: flex;
    flex-flow: column wrap;
    margin-left: 88px;
    margin-top: 110px;
}



.copyright-text {
    color: #7a7a7a;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 42px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.social-icon {
    display: block;
    background-color: #ffffff;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-right: 8px;
    text-decoration: none;
    color: #b2b2b2;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 32px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
}


.social-icon:hover {
    background-color: #f16d7f;
    color: #f7f7f8;
}

.footer-social {
    display: flex;
    align-items: center;
}

.copyright-flex {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.img-form-1 {
    padding-right: 46px;
    padding-left: 33px;
}





/*.cart-b:hover img {
    filter: drop-shadow(2px 2px 2px #f16d7f);
}*/



.f-item-text {
    padding: 20px 14px;
}

.parentUnit {
    width: 263px;
    position: relative;
    margin-bottom: 39px;
}

.parentUnit:hover img {
    filter: brightness(50%);
}

.parentUnit:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.parentUnit:hover .f-link-flex {
    opacity: 1;
}

.f-link-flex {
    width: 263px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 98px;
    opacity: 0;
}

.footer-message-flex {
    height: inherit;
    display: flex;

}

.footer-menu {
    display: flex;
}

.breadcrumb {
    background-color: #f8f3f4;
    width: 100%;
    height: 148px;
}

.product-category-name {
    color: #f16d7f;
    font-size: 24px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-transform: uppercase;
}



.not-active-title {
    color: #636363;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-decoration: none;
    padding: 0 3px;
}

.not-active-title:hover {
    color: #f16d7f;
}

.active-title {
    color: #f16d7f;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-decoration: none;
    padding: 0 3px;
}

.breadcrumb-menu {
    display: flex;
}

.breadcrumb-menu li {
    list-style-type: none;
}

.breadcrumb-flex {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb-name {
    color: #f16d7f;
    font-size: 24px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-transform: uppercase;
}

.sidebar {
    width: 243px;
}

.top-filter {
    width: 848px;
}

.product {
    width: 848px;
}

.sidebar-title {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6f6e6e;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 20px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-transform: uppercase;
    width: 243px;
    height: 37px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 18px;
    border-left: 5px solid #ef5b70;
    padding-left: 5px;
}

.sidebar-title:hover {
    color: #ef5b70;
}


.sidebar-title::-webkit-details-marker {
    display: none;
}

.sidebar-title::after {
    content: '\23F7';
}

.sidebar-details[open] > .sidebar-title::after {
    content: '\23F6';
}

.sidebar-details[open] > .sidebar-title {
    color: #ef5b70;
}

.sidebar-menu-title {
    color: #6f6e6e;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 33px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-decoration: none;
}

.sidebar-menu li {
    list-style-type: none;
    padding-left: 17px;
}

.summary-pink-block {
    background-color: #ef5b70;
    width: 5px;
    height: 37px;
}



.main-flex {
    margin-top: 59px;
    display: flex;
}

.sidebar-menu {
    margin-bottom: 23px;
}

.sidebar-menu a:hover {
    color: #ef5b70;
}

.right-bock {
    margin-left: 49px;
}

.retweet {
    display: block;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    line-height: 38px;
    width: 57px;
    height: 38px;
    margin-right: 9px;
}

.retweet:hover {
    background-color: black;
    filter: invert(100%);
}

.like {
    display: block;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    line-height: 38px;
    width: 57px;
    height: 38px;
}

.like:hover {
    background-color: black;
    filter: invert(100%);
}

.product-button-2 {
    width: 263px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 145px;
    opacity: 0;
}

.parentUnit:hover .product-button-2 {
    opacity: 1;
}

.mega-box {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    position: absolute;
    display: none;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 2px #e8e8e8;
    top: 50px;
    left: -3px;
    z-index: 4;
}

.mega-box:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    position: absolute;
    top: -7px;
    left: 54px;
    transform: rotate(45deg);
    background-color: #fff;

}

.mega-link {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    letter-spacing: 0.35px;
}

.mega-heading {
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.mega-flex {
    width: 234px;
    margin-right: 46px;
}

.mega-flex:last-of-type {
    margin-right: 0;
}

.mega-img {
    background: url(img/mega-img1.jpg);
    width: 255px;
    height: 118px;
    position: absolute;
    bottom: 19px;
    right: 21px;
}

.mega-img:hover {
    filter: opacity(0.9);
}


.mega-img span {
    display: block;
    width: 71px;
    height: 45px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.55px;
    position: absolute;
    bottom: 12px;
    right: 10px;
}



.mega-flex-inside {
    margin-top: 26px;
}

.drop-dawn-box {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 15px;
    position: absolute;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 2px #e8e8e8;
    text-align: left;
    z-index: 2;
    top: 36px;
    display: none;
}


.drop-dawn-box:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    position: absolute;
    top: -7px;
    left: 66px;
    transform: rotate(45deg);
    background-color: #fff;
}

.drop-dawn-inside {
    width: 236px;
}

.drop-dawn-inside-2 {
    margin-top: 12px;
}

.drop-dawn-inside li {
    list-style-type: none;
    margin-left: 6px;
}

.drop-dawn-inside-2 li {
    list-style-type: none;
    margin-left: 6px;
}

.drop-heading {
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    border-bottom: 1px solid #e8e8e8;

}

.drop-link {
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.35px;
    text-decoration: none;
}

.drop-link:hover {
    color: #ef5b70;
}

.cart-box {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 15px;
    position: absolute;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 2px #e8e8e8;
    top: 36px;
    left: -10px;
    display: none;
    z-index: 3;
}

.cart-b:hover .cart-box {
    display: block;
}

.cart-box:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    position: absolute;
    top: -7px;
    left: 22px;
    transform: rotate(45deg);
    background-color: #fff;
}

.cart-box-inside {
    width: 229px;
}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.cart-product .cart-product-img:hover {
    filter: opacity(0.9);
}

.cart-product .fas {
    color: #c0c0c0;
    font-size: 16px;
}

.cart-product-name {
    color: #222222;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.cart-price {
    color: #f16d7f;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 5px;

}

.cart-total {
    width: 229px;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.cart-total span {
    float: right;
}

.button-checkout {
    display: block;
    text-decoration: none;
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: 225px;
    height: 50px;
    border: 1px solid #f16d7f;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    margin-bottom: 11px;

}

.button-checkout:hover {
    background-color: #f16d7f;
    color: #fff;
}

.button-go_to_cart {
    display: block;
    text-decoration: none;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: 225px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    text-align: center;
    line-height: 50px;
}

.button-go_to_cart:hover {
    background-color: #4a4a4a;
    color: #fff;
}

.times-circle:hover {
    filter: brightness(0.7);
}



.cart-b {
    position: relative;
}

.cart-b a {
    display: block;
}

.cart-b:hover .cart-img {
    filter: drop-shadow(2px 2px 2px #f16d7f);
}

.trending-link {
    text-decoration: none;
    display: block;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding-right: 7px;
}

.trending-link:after {
    content: "|";
    color: #dfdfdf;
    padding-left: 5px;
}

.trending-link:nth-child(3):after {
    content: none;
}

.trending-link:nth-child(6):after {
    content: none;
}

.trending-filter-inside {
    display: flex;
    flex-wrap: wrap;
    width: 176px;
}

.trending-filter-inside a:hover {
    color: #f16d7f;
}

.trending-filter {
    width: 262px;
}

.top-filter-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.size-filter {
    width: 262px;
}

.price-filter {
    width: 262px;
}

.filter-title {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 18px;
}




.label {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 3px;
}

.label-size-box {
    margin-right: 16px;
    width: 47px;
    display: inline-block;
    margin-bottom: 4px;
}

.checkbox {
    display: none;
}

.custom-checkbox {
    position: relative;
    width: 13px;
    height: 13px;
    border: 1px solid #ebebeb;
}

.custom-checkbox,
.label {
    display: inline-block;
    vertical-align: middle;
}

.checkbox:checked + .custom-checkbox::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #f16d7f;
    border-radius: 2px;
}

input[type='range'] {
    width: 262px;
    -webkit-appearance: none;
    background-color: #f16d7f;
    height: 6px;
}

input[type='range']::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    background-color: #f16d7f;
    border-radius: 50%;
    -webkit-appearance: none;
}



.price-output {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 7px;
}

.sort-box {
    height: 50px;
    background-color: #f3f3f3;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
}

.sort-by {
    height: 30px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
}

.sort-by a:hover {
    color: #f16d7f;
}

.sort-by a {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
}

.sort-by .fas {
    color: #6f6e6e;
    font-size: 14px;
}

.sort-title-1 {
    display: inline-block;
    border-right: 1px solid #ebebeb;
    width: 66px;
    text-decoration: none;
}

.sort-title-2 {
    display: inline-block;
    width: 86px;
    text-decoration: none;
}

.show-button {
    height: 30px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
}

.show-button a:hover {
    color: #f16d7f;
}

.show-button a {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
}

.show-button .fas {
    color: #6f6e6e;
    font-size: 14px;
}

.show-title-1 {
    display: inline-block;
    border-right: 1px solid #ebebeb;
    width: 55px;
    text-decoration: none;
}

.show-title-2 {
    display: inline-block;
    width: 63px;
    text-decoration: none;
}

.pagination {
    display: flex;
    width: 261px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    justify-content: space-between;
    align-items: center;
    padding: 9px 15px;
}

.pagination a {
    color: #c4c4c4;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    text-decoration: none;
}

.pagination .fas {
    color: #ef5b70;
}

.pagination a:hover {
    color: #ef5b70;
}

.button-view-all {
    display: block;
    text-decoration: none;
    color: #ef5b70;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    height: 44px;
    border-radius: 3px;
    border: 1px solid #ef5b70;
    background-color: #ffffff;
    text-align: center;
    line-height: 44px;
}

.button-view-all:hover {
    background-color: #f16d7f;
    color: #fff;
}

.pagination-box {
    display: flex;
    justify-content: space-between;
}

.feature-box {
    margin-top: 110px;
    height: 341px;
    background-color: #222224;
}

.feature-box-flex {
    height: 341px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature-delivery {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #fbfbfb;
    font-size: 20px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-right: 21px;
}

.feature-sales-discounts {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #fbfbfb;
    font-size: 20px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-right: 21px;
}

.feature-quality-assurance {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #fbfbfb;
    font-size: 20px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-right: 21px;
}


.feature-title-1 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.feature-title-2 {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 23.95px;
    letter-spacing: 0.35px;
    text-align: center;
    width: 309px;
    
}

.feature-img {
    margin-bottom: 32px;
}
